@import "variables";

#Content{
<<<<<<< Updated upstream
  // position: absolute;
  // width: 1216px;
  // height: 806px;
  // left: 112px;
  // top: 72px;"
=======
<<<<<<< Updated upstream
  position: absolute;
  width: 1216px;
  height: 806px;
  left: 112px;
  top: 72px;
=======
  margin: 10 auto;
  width: 40em;
>>>>>>> Stashed changes
  color: $white;
  font-family: $fontLow;
  h1{
    font-family: $fontHigh;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 85px;
    display: flex;
    align-items: center;
  }

  a{
<<<<<<< Updated upstream
    color: $white;
    background-color: $red;
  }
=======
    display: inline-block;
    width: 15em;
    height: 3em;
    color: $white;
    background-color: $red;
    text-align: center;
  }
>>>>>>> Stashed changes
>>>>>>> Stashed changes
}
