@import "variables";

#Content{
  // position: absolute;
  // width: 1216px;
  // height: 806px;
  // left: 112px;
  // top: 72px;"
  color: $white;
  font-family: $fontLow;
  h1{
    font-family: $fontHigh;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 85px;
    display: flex;
    align-items: center;
  }

  a{
    color: $white;
    background-color: $red;
  }
}
