@import "header";
@import "content";

body{
  position: absolute;
  width: 1440px;
  height: 1024px;
  left: 0px;
  top: 0px;
  background: url("../img/accueil/background.png");
  // filter: blur(4px);
}
