@import url("https://fonts.googleapis.com/css?family=Palanquin|Rubik&display=swap");
header {
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  left: 10em;
  right: 10em;
  z-index: 100;
  background-color: #FFFFFF;
  color: #000000;
  font-family: Palanquin;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6em;
  line-height: 1em;
  align-items: center;
  display: flex;
  flex-direction: row;
  box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.13);
}

header nav {
  width: 100%;
}

header nav ul {
  padding: inherit;
  height: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 0;
}

header nav ul li {
  text-align: center;
  width: 100%;
  padding: 0.8em;
}

header nav ul li a {
  color: #000000;
  text-decoration: none;
}

header nav ul #Connexion {
  background-color: #BE1E2D;
}

header nav ul #Connexion a {
  font-weight: bold;
  color: #FFFFFF;
}

body {
  font-family: Palanquin;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

body {
  background: url(../img/accueil/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFFFFF;
}

#Content {
  position: relative;
  top: 8em;
  margin: 0 15.5em;
}

#Content h1 {
  font-family: Rubik;
  font-weight: bold;
  font-size: 4em;
  line-height: 1em;
}

#Content p {
  font-family: Palanquin;
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  line-height: 1.5em;
  display: flex;
}

#Content a {
  font-family: Palanquin;
  font-style: normal;
  font-weight: bold;
  font-size: 2.2em;
  line-height: 1.5em;
  padding: 0.4em 2.5em;
  background-color: #BE1E2D;
  color: #FFFFFF;
  text-decoration: none;
}

footer {
  position: relative;
  top: 22em;
  margin: 0 15.5em;
  display: flex;
  flex-direction: row;
  height: 10em;
  align-items: center;
}

footer h1 {
  width: auto;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 3em;
  background-color: #FFFFFF;
  color: #000000;
  font-family: Palanquin;
  font-size: 1em;
  text-align: justify;
}

footer h2 {
  padding: 2em;
  margin: 0;
  color: #FFFFFF;
  font-family: Palanquin;
}

footer nav {
  margin-top: -10em;
  width: 100%;
}

footer nav ul {
  padding: inherit;
  height: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 0;
  justify-content: space-around;
}

footer nav ul li {
  align-content: center;
}
