@import url("https://fonts.googleapis.com/css?family=Palanquin|Rubik&display=swap");
header {
  background-color: #FFFFFF;
  font-family: Palanquin;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 43px;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
}

body {
  background-color: #BE1E2D;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article div {
  padding-top: 150px;
}
