@import url("https://fonts.googleapis.com/css?family=Palanquin|Rubik&display=swap");
header {
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  left: 10em;
  right: 10em;
  z-index: 100;
  background-color: #FFFFFF;
  color: #000000;
  font-family: Palanquin;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6em;
  line-height: 1em;
  align-items: center;
  display: flex;
  flex-direction: row;
  box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.13);
}

header nav {
  width: 100%;
}

header nav ul {
  padding: inherit;
  height: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 0;
}

header nav ul li {
  text-align: center;
  width: 100%;
  padding: 0.8em;
}

header nav ul li a {
  color: #000000;
  text-decoration: none;
}

header nav ul #Connexion {
  background-color: #BE1E2D;
}

header nav ul #Connexion a {
  font-weight: bold;
  color: #FFFFFF;
}

#divco {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  margin-top: 7%;
}

#divco img {
  max-width: 90px;
}

#divco fieldset {
  border: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  border-radius: 10px;
}

#divco fieldset input {
  width: 100%;
  background: none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  color: white;
}

#divco fieldset input[type=submit] {
  background-color: #BE1E2D;
  color: white;
}

#divco fieldset #inscription {
  color: white;
  position: relative;
  top: 15px;
}

body {
  background: url(../img/connexion/connexion.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

::placeholder {
  font-size: 110%;
  opacity: 1;
}
