@import url("https://fonts.googleapis.com/css?family=Palanquin|Rubik&display=swap");
.logo {
  width: 50px;
  height: 50px;
}

.nav-link {
  font-size: 1.5em;
  font-family: Rubik;
  margin-left: 1em;
  margin-right: 1em;
}

.bg-red {
  background-color: #BE1E2D;
  border-radius: 10px;
}
.bg-red .nav-link {
  color: #FFFFFF;
}

#divco {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  margin-top: 7%;
}
#divco img {
  max-width: 90px;
}
#divco fieldset {
  border: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  border-radius: 10px;
}
#divco fieldset input {
  width: 100%;
  background: none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  color: white;
}
#divco fieldset input[type=submit] {
  background-color: #BE1E2D;
  color: white;
}
#divco fieldset #inscription {
  color: white;
  position: relative;
  top: 15px;
}

body {
  background: url(../img/connexion/connexion.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

::placeholder {
  font-size: 110%;
  opacity: 1;
}
