@import url("https://fonts.googleapis.com/css?family=Palanquin|Rubik&display=swap");
@import url("https://fonts.googleapis.com/css?family=Palanquin|Rubik&display=swap");
.logo {
  width: 50px;
  height: 50px;
}

.nav-link {
  font-size: 1.5em;
  font-family: Palanquin;
  margin-left: 1em;
  margin-right: 1em;
  color: #6c6c6c;
}

.active {
  color: black;
}

.bg-red {
  background-color: #BE1E2D;
  border-radius: 10px;
}

.bg-red .nav-link {
  color: #FFFFFF;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.boxe-main-full h5 {
  margin: 0 0 0.55em;
  text-align: center;
  color: #BE1E2D;
  text-rendering: optimizelegibility;
  font-family: Palanquin;
}

.boxe-main-full h1 {
  margin: 0 0 0.55em;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  text-rendering: optimizelegibility;
  font-family: Rubik;
}

.boxe-main-full p {
  text-align: center;
}

.boxe-main-full p img {
  width: 50px;
  height: 50px;
}

.boxe-main-gauche p {
  font-family: Rubik;
}

.boxe-main-gauche p img {
  width: 50px;
  height: 50px;
}

.boxe-main-gauche form input {
  border-color: #BE1E2D;
  color: #BE1E2D;
  background-color: white;
  font-family: Rubik;
  margin-top: 22px;
  margin-bottom: 22px;
}

.boxe-main-gauche form textarea {
  color: #BE1E2D;
  width: 432px;
  height: 175px;
  margin-top: 22px;
  margin-bottom: 22px;
  border-color: #BE1E2D;
}

.boxe-main-gauche form .bouton {
  width: 100px;
  height: 50px;
  margin-top: 22px;
  margin-bottom: 22px;
}

.boxe-main-gauche form .bouton:hover {
  background-color: #BE1E2D;
  opacity: 0.80;
  color: white;
}

.boxe-main-droite h5 {
  color: #BE1E2D;
}

.boxe-main-droite #place {
  font-family: Rubik;
}

.boxe-main-droite #place img {
  width: 50px;
  height: 40px;
}

.boxe-main-droite #titreHoraires {
  color: #BE1E2D;
}

#fb-root {
  position: relative;
  left: 550px;
}
