/* Error: $color: theme-color("primary") is not a color.
 *     ,
 * 181 | $link-hover-color:                        darken($link-color, 15%) !default;
 *     |                                           ^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   bootstrap/scss/_variables.scss 181:43  @import
 *   style_scss/_header.scss 1:9            @import
 *   style_scss/entrainement.scss 1:9       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: $color: theme-color("primary") is not a color.\a     \2577 \a 181 \2502  $link-hover-color:                        darken($link-color, 15%) !default;\a     \2502                                            ^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   bootstrap/scss/_variables.scss 181:43  @import\a   style_scss/_header.scss 1:9            @import\a   style_scss/entrainement.scss 1:9       root stylesheet';
}
