@import url("https://fonts.googleapis.com/css?family=Palanquin|Rubik&display=swap");
.bg-red {
  background-color: #BE1E2D;
  border-radius: 10px;
}
.bg-red .nav-link {
  color: #FFFFFF;
}

#planning {
  padding-top: 10%;
}
