@import url("https://fonts.googleapis.com/css?family=Palanquin|Rubik&display=swap");
header {
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  left: 10em;
  right: 10em;
  z-index: 100;
  background-color: #FFFFFF;
  color: #000000;
  font-family: Palanquin;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6em;
  line-height: 1em;
  align-items: center;
  display: flex;
  flex-direction: row;
  box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.13); }
  header nav {
    width: 100%; }
    header nav ul {
      padding: inherit;
      height: 100%;
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0 0; }
      header nav ul li {
        text-align: center;
        width: 100%;
        padding: 0.8em; }
        header nav ul li a {
          color: #000000;
          text-decoration: none; }
      header nav ul #Connexion {
        background-color: #BE1E2D; }
        header nav ul #Connexion a {
          font-weight: bold;
          color: #FFFFFF; }

article {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  article h1 {
    font-family: Rubik;
    font-size: 2em;
    border-bottom: 0.2em solid #BE1E2D;
    width: 90%; }
  article p {
    font-family: Palanquin;
    margin: 10%;
    text-align: justify;
    font-size: 1.2em;
    font-weight: 600;
    width: 100%; }
  article div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%; }
    article div form {
      display: flex;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(5px);
      border-radius: 10px;
      width: 100%; }
    article div fieldset {
      border: 0px;
      width: inherit; }
      article div fieldset input {
        width: 100%;
        color: white;
        background: none;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px; }
      article div fieldset input[type=submit] {
        background-color: #BE1E2D; }
      article div fieldset p {
        margin: 8%;
        margin-left: 0px; }
  article ::placeholder {
    font-size: 110%;
    color: white;
    opacity: 1; }
  article #Droite {
    padding-top: 0px;
    color: white;
    background-image: url("../img/gantsBoxe.jpg");
    background-repeat: no-repeat;
    background-size: 100%; }
    article #Droite h1 {
      margin-top: 20%;
      border: 0; }
    article #Droite p {
      width: 80%; }
    article #Droite input {
      margin: 0; }
