@import url("https://fonts.googleapis.com/css?family=Palanquin|Rubik&display=swap");
/* line 3, ../../public_html/github/InTheBoxe/view/src/style_scss/_header.scss */
.logo {
  width: 50px;
  height: 50px;
}

/* line 8, ../../public_html/github/InTheBoxe/view/src/style_scss/_header.scss */
.nav-link {
  font-size: 1.5em;
  font-family: Palanquin;
  margin-left: 1em;
  margin-right: 1em;
  color: #6c6c6c;
}

/* line 16, ../../public_html/github/InTheBoxe/view/src/style_scss/_header.scss */
.active {
  color: black;
}

/* line 20, ../../public_html/github/InTheBoxe/view/src/style_scss/_header.scss */
.bg-red {
  background-color: #BE1E2D;
  border-radius: 10px;
}

/* line 23, ../../public_html/github/InTheBoxe/view/src/style_scss/_header.scss */
.bg-red .nav-link {
  color: #FFFFFF;
}

/* line 28, ../../public_html/github/InTheBoxe/view/src/style_scss/_header.scss */
header {
  box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.13);
}

/* line 32, ../../public_html/github/InTheBoxe/view/src/style_scss/_header.scss */
navbar-toggler-icon {
  color: black;
  background-color: black;
}

/* line 3, ../../public_html/github/InTheBoxe/view/src/style_scss/inscription.scss */
article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* line 8, ../../public_html/github/InTheBoxe/view/src/style_scss/inscription.scss */
article h1 {
  font-family: Rubik;
  font-size: 2em;
  border-bottom: 0.2em solid #BE1E2D;
  width: 90%;
}

/* line 15, ../../public_html/github/InTheBoxe/view/src/style_scss/inscription.scss */
article p {
  font-family: Palanquin;
  margin: 10%;
  text-align: justify;
  font-size: 1.2em;
  font-weight: 600;
  width: 100%;
}

/* line 24, ../../public_html/github/InTheBoxe/view/src/style_scss/inscription.scss */
article div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

/* line 33, ../../public_html/github/InTheBoxe/view/src/style_scss/inscription.scss */
article div form {
  display: flex;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  width: 100%;
}

/* line 41, ../../public_html/github/InTheBoxe/view/src/style_scss/inscription.scss */
article div fieldset {
  padding: 15px;
  width: inherit;
}

/* line 44, ../../public_html/github/InTheBoxe/view/src/style_scss/inscription.scss */
article div fieldset input {
  width: 100%;
  color: white;
  background: none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

/* line 52, ../../public_html/github/InTheBoxe/view/src/style_scss/inscription.scss */
article div fieldset input[type=submit] {
  background-color: #BE1E2D;
}

/* line 55, ../../public_html/github/InTheBoxe/view/src/style_scss/inscription.scss */
article div fieldset p {
  margin: 8%;
  margin-left: 0px;
}

/* line 61, ../../public_html/github/InTheBoxe/view/src/style_scss/inscription.scss */
article ::placeholder {
  font-size: 110%;
  color: white;
  opacity: 1;
}

/* line 67, ../../public_html/github/InTheBoxe/view/src/style_scss/inscription.scss */
article #Droite {
  padding-top: 0px;
  padding-bottom: 20px;
  color: white;
  background-image: url("../img/gantsBoxe.jpg");
  background-repeat: round;
  background-size: 100%;
}

/* line 75, ../../public_html/github/InTheBoxe/view/src/style_scss/inscription.scss */
article #Droite .Fem {
  position: relative;
  bottom: 50px;
}

/* line 80, ../../public_html/github/InTheBoxe/view/src/style_scss/inscription.scss */
article #Droite .Mas {
  position: relative;
  bottom: 50px;
}

/* line 85, ../../public_html/github/InTheBoxe/view/src/style_scss/inscription.scss */
article #Droite .reste {
  position: relative;
  bottom: 50px;
}

/* line 90, ../../public_html/github/InTheBoxe/view/src/style_scss/inscription.scss */
article #Droite h1 {
  margin-top: 20%;
  border: 0;
  font-size: 3em;
}

/* line 95, ../../public_html/github/InTheBoxe/view/src/style_scss/inscription.scss */
article #Droite p {
  width: 100%;
  font-size: 1em;
}

/* line 99, ../../public_html/github/InTheBoxe/view/src/style_scss/inscription.scss */
article #Droite input {
  padding: 5px;
  border-radius: 10px;
}

/* line 107, ../../public_html/github/InTheBoxe/view/src/style_scss/inscription.scss */
footer {
  margin-top: 5%;
}

/*# sourceMappingURL=inscription.css.map */