@import url("https://fonts.googleapis.com/css?family=Palanquin|Rubik&display=swap");
header {
  background-color: #FFFFFF;
  font-family: Palanquin;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 43px;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

article div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article div form {
  display: flex;
  text-align: center;
}

article #Droite img {
  position: absolute;
  z-index: -1000;
  max-width: 20%;
  filter: blur(10px);
  -moz-filter: blur(10px);
  -webkit-filter: blur(10px);
  -o-filter: blur(10px);
}
