@import url("https://fonts.googleapis.com/css?family=Palanquin|Rubik&display=swap");
@import url("https://fonts.googleapis.com/css?family=Palanquin|Rubik&display=swap");
.bg-red {
  background-color: #BE1E2D;
  border-radius: 10px;
}
.bg-red .nav-link {
  color: #FFFFFF;
}

* {
  font-family: Palanquin;
}

#planning {
  margin-top: 10%;
}

.btn-primary {
  background-color: #BE1E2D;
  border: none;
}
.btn-primary a {
  color: white;
}

hr {
  background-color: #BE1E2D;
}

span {
  color: #545353;
}

.boxe-educative {
  background-color: #17d93a;
  color: white;
}

.boxe-educative2 {
  background-color: #006f2c;
  color: white;
}

.boxe-loisir {
  background-color: #11c4f4;
  color: white;
}

.cross-fit, .cross-fit-boxing {
  background-color: #c1a900;
  color: white;
}

.boxe-femmes {
  background-color: #e600a0;
  color: white;
}
