@import url("https://fonts.googleapis.com/css?family=Palanquin|Rubik&display=swap");
.logo {
  width: 50px;
  height: 50px;
}

.nav-link {
  font-size: 1.5em;
  font-family: Palanquin;
  margin-left: 1em;
  margin-right: 1em;
  color: #6c6c6c;
}

.active {
  color: black;
}

.bg-red {
  background-color: #BE1E2D;
  border-radius: 10px;
}
.bg-red .nav-link {
  color: #FFFFFF;
}

header {
  box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.13);
}

navbar-toggler-icon {
  color: black;
  background-color: black;
}

h1 {
  font-family: Rubik;
}

h3, h4 {
  font-family: Palanquin;
}

body {
  background: #fffff;
}

.container {
  margin-top: 10%;
  margin-bottom: 10%;
}

.user-image img {
  width: 20%;
}

.style1 {
  background-color: #BE1E2D;
}

.tab-pane {
  width: 50em;
}
