@import url("https://fonts.googleapis.com/css?family=Palanquin|Rubik&display=swap");
/* line 3, ../web/Atom/github/InTheBoxe/view/src/style_scss/_header.scss */
.logo {
  width: 50px;
  height: 50px;
}

/* line 8, ../web/Atom/github/InTheBoxe/view/src/style_scss/_header.scss */
.nav-link {
  font-size: 1.5em;
  font-family: Palanquin;
  margin-left: 1em;
  margin-right: 1em;
  color: #6c6c6c;
}

/* line 16, ../web/Atom/github/InTheBoxe/view/src/style_scss/_header.scss */
.active {
  color: black;
}

/* line 20, ../web/Atom/github/InTheBoxe/view/src/style_scss/_header.scss */
.bg-red {
  background-color: #BE1E2D;
  border-radius: 10px;
}

/* line 23, ../web/Atom/github/InTheBoxe/view/src/style_scss/_header.scss */
.bg-red .nav-link {
  color: #FFFFFF;
}

/* line 28, ../web/Atom/github/InTheBoxe/view/src/style_scss/_header.scss */
header {
  box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.13);
}

/* line 32, ../web/Atom/github/InTheBoxe/view/src/style_scss/_header.scss */
navbar-toggler-icon {
  color: black;
  background-color: black;
}

/* line 4, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
h1 {
  font-family: Rubik;
}

/* line 8, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
h3, h4 {
  font-family: Palanquin;
}

/* line 12, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
body {
  background: #fffff;
}

/* line 16, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.container {
  margin-top: 10%;
  margin-bottom: 10%;
}

/* line 22, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.user-image img {
  width: 20%;
}

/* line 28, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.style1 {
  background-color: #BE1E2D;
}

/* line 32, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
#apk {
  display: block;
  position: relative;
  top: 10px;
  text-align: center;
  font-family: Palanquin;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.5em;
  border-radius: 15px;
  padding: 0.4em 2.5em;
  background-color: rgba(0, 0, 0, 0);
  color: #BE1E2D;
}

/* line 53, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.bouton {
  text-align: center;
  background: rgba(0, 0, 0, 0);
}

/* line 57, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.bouton a {
  color: #BE1E2D;
  text-decoration: none;
  padding: 1em calc(1em * 1.2);
  display: inline-block;
  border: 1px solid transparent;
  margin: 20px;
  position: relative;
  font-size: 2em;
  cursor: pointer;
  letter-spacing: 0.07em;
}

/* line 69, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.bouton a .text {
  font-family: Rubik;
  transform: translate3d(0, 1em, 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

/* line 77, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.bouton a:after {
  position: absolute;
  content: '';
  bottom: -1px;
  left: calc(1em * 1.2);
  right: calc(1em * 1.2);
  height: 1px;
  background: #BE1E2D;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}

/* line 95, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.bouton .line {
  position: absolute;
  background: #BE1E2D;
}

/* line 99, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.bouton .line.-right, .bouton .line.-left {
  width: 1px;
  bottom: -1px;
  top: -1px;
  transform: scale3d(1, 0, 1);
}

/* line 107, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.bouton .line.-top, .bouton .line.-bottom {
  height: 1px;
  left: -1px;
  right: -1px;
  transform: scale3d(0, 1, 1);
}

/* line 115, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.bouton .line.-right {
  right: -1px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}

/* line 121, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.bouton .line.-top {
  top: -1px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}

/* line 127, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.bouton .line.-left {
  left: -1px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}

/* line 133, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.bouton .line.-bottom {
  bottom: -1px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}

/* line 143, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.bouton a:hover .text,
.bouton a:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

/* line 148, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.bouton a:hover:after,
.bouton a:active:after {
  transform: scale3d(0, 1, 1);
  right: -1px;
  left: -1px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

/* line 159, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.bouton a:hover .line,
.bouton a:active .line {
  transform: scale3d(1, 1, 1);
}

/* line 162, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.bouton a:hover .line.-right,
.bouton a:active .line.-right {
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transform-origin: bottom;
}

/* line 167, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.bouton a:hover .line.-top,
.bouton a:active .line.-top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}

/* line 172, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.bouton a:hover .line.-left,
.bouton a:active .line.-left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}

/* line 177, ../web/Atom/github/InTheBoxe/view/src/style_scss/profilAdherent.scss */
.bouton a:hover .line.-bottom,
.bouton a:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}

/*# sourceMappingURL=profilAdherent.css.map */