@import "variables";

header {
  background-color: $white;

  font-family: $fontLow;
  font-style: normal;
  font-weight: normal;

  // font-size: 24px;
  // line-height: 43px;

  position: relative;

  margin: 1.2em auto;
  align-items: center;

  width: 50em;
  height: 2.5em;

  display: flex;
  flex-direction: row;

  nav {

    width: 100%;

    ul {

      display: flex;
      flex-direction: row;

      list-style: none;

      li {
        text-align: center;
        width: 100%;

        padding: 0.3em;

        a {
          color: $black;
          text-decoration: none;
        }
      }

      #Connexion{
        background-color: $red;
        a {
          font-weight: bold;
          color: $white;
        }
      }

    }
  }

}
