@import "variables";

header {
  background-color: $white;

  font-family: $fontLow;
  font-style: normal;
  font-weight: normal;

  font-size: 24px;
  line-height: 43px;

  position: relative;

  // margin: 0 auto;
  align-items: center;

  // width: 50em;

  display: flex;
  flex-direction: row;

  box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.13);;

  nav {

    width: 100%;

    ul {
      padding: inherit;

      height: 100%;
      display: flex;
      flex-direction: row;

      list-style: none;
      margin: 0 0;

      li {
        text-align: center;
        width: 100%;
        padding: 0.5em;

        a {
          color: $black;
          text-decoration: none;
        }
      }

      #Connexion{
        background-color: $red;
        a {
          font-weight: bold;
          color: $white;
        }
      }

    }
  }

}
