/* Button used to open the contact form - fixed at the bottom of the page */
// .open-button {
//   background-color: #555;
//   color: white;
//   padding: 16px 20px;
//   border: none;
//   cursor: pointer;
//   opacity: 0.8;
//   position: fixed;
//   bottom: 23px;
//   right: 28px;
//   width: 280px;
// }

/* The popup form - hidden by default */
// .form-popup {
//   display: none;
//   position: fixed;
//   bottom: 0;
//   right: 15px;
//   border: 3px solid #f1f1f1;
//   z-index: 9;
// }
.form-popup{
  background-color: $white;
  color: $black;
  form{
    display: flex;
    flex-direction: column;
  }
}
