@import "header";
@import "body";
@import "popupConnexion";

body{
  background: url(../img/accueil/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  color: $white;
}

#Content {
  position: relative;
  top: 8em;
  margin: 0 15.5em;
  // margin: 0 22em;
  // margin: 10em 0;

  h1 {


    font-family: $fontHigh;
    font-weight: bold;
    font-size: 4em;
    line-height: 1em;

  }

  p{
    font-family: $fontLow;
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 1.5em;
    display: flex;
  }

  a{
    font-family: $fontLow;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2em;
    line-height: 1.5em;

    padding: 0.4em 2.5em;
    background-color: $red;
    color: $white;
    text-decoration: none;
  }
}



footer{
  background: inherit;
  // overflow: hidden;
  // background-color: rgba(#3E3E3E, 0.76);
  position: relative;
  top: 22em;
  margin: 0 15.5em;

  display: flex;
  flex-direction: row;
  height: 10em;
  align-items: center;
  h1{
    z-index: 2;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 3em;
    background-color: $white;
    color: $black;
    font-family: $fontLow;
    font-size: 1em;
    text-align: justify;
  }
  h2{
    z-index: 2;
    padding: 2em;
    margin: 0;
    color: $white;
    font-family: $fontLow;
  }
  nav{
    z-index: 2;
    margin-top: -10em;
    width: 100%;
    ul{
      padding: inherit;
      height: 100%;
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0 0;
      justify-content: space-around;
      li{
        align-content: center;
      }
    }
  }
}

footer:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, .5);
  filter: blur(10px);
  background: inherit;
  z-index: 0;
}
