@import "header";

<<<<<<< HEAD
body {
  background-color: $red;
=======
article{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div {
    padding-top: 150px;
  }
>>>>>>> d97de0ef7e2f7cf73791173f7352e316d023f42b
}
