@import "header";
#divco{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  margin-top: 7%;

  img{
    max-width: 90px;
  }
  fieldset{
    border: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    border-radius: 10px;

    input{
      width: 100%;
      background: none;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      color: white;
    }
    input[type=submit]{
      background-color: $red;
      color:white;
    }
    #inscription {
      color: white;
      position: relative;
      top: 15px;
    }
  }
}


body {
  background: url(../img/connexion/connexion.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

::placeholder {
  font-size: 110%;
  opacity: 1;
}
