@import "header";
@import "variables";

// * {
//   box-sizing: border-box;
// }

// body {
//   display: flex;
//   flex-wrap: wrap;
// }

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;

  // #sponsor {
  //   position: fixed;
  //   top: 600px;
  //   left: 300px;
  // }
}

.boxe-main-full {

  margin-top: 5%;

  h5 {
    margin: 0 0 0.55em;
    text-align: center;
    color: $red;
    text-rendering: optimizelegibility;
    font-family: $fontLow;
  }

  h1 {
    margin: 0 0 0.55em;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    text-rendering: optimizelegibility;
    font-family: $fontHigh;
  }

  p {
    text-align: center;

    img {
      width: 50px;
      height: 50px;
    }
  }
}

.boxe-main-gauche {
  p {
    font-family: $fontHigh;
    img {
      width: 50px;
      height: 50px;
    }
  }

  #question {
  }

  form {
      input {
      border-color: $red;
      color: $red;
      background-color: white;
      font-family: $fontHigh;
      margin-top: 22px;
      margin-bottom: 22px;
      }

      textarea {
        color: $red;
        width: 432px;
        height: 175px;
        margin-top: 22px;
        margin-bottom: 22px;
        border-color: $red;
      }

      .bouton {
        width: 100px;
        height: 50px;
        margin-top: 22px;
        margin-bottom: 22px;
      }

      .bouton:hover {
        background-color: $red;
        opacity: 0.80;
        color: white;
      }
  }
}

.boxe-main-droite {

  h5 {
    color: $red;
  }

  #place {
    font-family: $fontHigh;
    img {
      width: 50px;
      height: 40px;
    }
  }

  p {
  }

  #titreHoraires {
    color: $red;
  }

}

#fb-root {
  position: relative;
  left: 550px;
}
