@import "header";
@import "variables";

* {
  box-sizing: border-box;
}

.boxe-main-full {
  margin: auto;
  text-align: center;
  width: 50%;
  height: 50%;
  padding-top: 100px;
  display: inline-table;
  position: relative;
  left: 10%;

  h5 {
    margin: 0 0 0.55em;
    text-align: center;
    color: $red;
    text-rendering: optimizelegibility;
    font-family: $fontLow;
  }

  h1 {
    margin: 0 0 0.55em;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    text-rendering: optimizelegibility;
    font-family: $fontHigh;
  }

  p {
    text-align: center;

    img {
      width: 50px;
      height: 50px;
    }
  }
}

.boxe-main-gauche {
  padding-top: 40px;
  padding-left: 10%;
  margin: auto;
  text-align: left;
  width: 50%;
  height: 50%;
  display: table-cell;

  p {
    text-align: center;
    font-family: $fontHigh;
    img {
      width: 50px;
      height: 50px;
    }
  }

  #question {
    text-align: left;
  }

  form {
      input {
      border-color: $red;
      color: $red;
      background-color: white;
      font-family: $fontHigh;
      margin-top: 22px;
      margin-bottom: 22px;
      }

      textarea {
        color: $red;
        width: 697px;
        height: 228px;
        margin-top: 22px;
        margin-bottom: 22px;
        border-color: $red;
      }

      .bouton {
        width: 100px;
        height: 50px;
        margin-top: 22px;
        margin-bottom: 22px;
      }

      .bouton:hover {
        background-color: $red;
        opacity: 0.80;
        color: white;
      }
  }
}

.boxe-main-droite {
  display: table-cell;
  padding-top: 40px;
  padding-right: 10%;
  margin: auto;
  text-align: center;
  width: 50%;
  height: 50%;
  font-family: $fontLow;

  h5 {
    color: $red;
    text-align: right;
  }

  #place {
    text-align: center;
    font-family: $fontHigh;
    position: relative;
    left: 60px;
    img {
      width: 50px;
      height: 40px;
    }
  }

  p {
    text-align: right;
  }

  #titreHoraires {
    color: $red;
  }

}
