@import "header";

article{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  h1{
    font-family: $fontHigh;
    font-size: 2em;
    border-bottom: 0.2em solid $red;
    width: 90%;
  }

  p{
    font-family: $fontLow;
    margin: 10%;
    text-align: justify;
    font-size: 1.2em;
    font-weight: 600;
    width: 100%;
  }

  div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;

    form{
      display: flex;
      text-align: center;
      background-color: rgba(255, 255, 255, .15);
      backdrop-filter: blur(5px);
      border-radius: 10px;
      width: 100%;
    }
    fieldset{
      border: 0px;
      width: inherit;
      input{
        width: 100%;
        color: white;
        background: none;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
      }
      input[type=submit]{
        background-color: $red;
      }
      p{
        margin: 8%;
        margin-left: 0px;
      }
    }
  }
  ::placeholder {
    font-size: 110%;
    color: white;
    opacity: 1;
  }

  #Droite{
    padding-top: 0px;
    color: white;
    background-image: url("../img/gantsBoxe.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

    h1{
      margin-top: 20%;
      border: 0;
    }
    p{
      width: 80%;
    }
    input{
      margin: 0;
      // padding: 1em;
    }
    }
}
