@import "header";
@import "variables";

* {
  font-family: $fontLow;
}
#planning {
  margin-top: 10%;
}

.btn-primary {
  background-color: $red;
  border: none;
  a {
    color: white;
  }
}

hr {
  background-color: $red;
}

span {
  color:  #545353;
}

.boxe-educative{
  background-color: #17d93a;
  color: white;

}

.boxe-educative2{
  background-color: #006f2c;
  color: white;

}

.boxe-loisir {
  background-color: #11c4f4;
  color: white;
}

.cross-fit {
  background-color: #c1a900;
  color: white;
}

.boxe-femmes {
  background-color: #e600a0;
  color: white;
}
