@import "header";
@import "variables";

* {
  font-family: $fontLow;
}

body {
  background: url(../img/club/club.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
}


.btn-primary {
  background-color: $red;
  border: none;
  a {
    color: white;
  }
}

h1 {
  color: black;
}

hr {
  background-color: $red;
}

span {
  color: black;
}

.boxe-educative{
  background-color: #17d93a;
  color: white;

}

.boxe-educative2{
  background-color: #006f2c;
  color: white;

}

.boxe-loisir {
  background-color: #11c4f4;
  color: white;
}

.cross-fit, .cross-fit-boxing{
  background-color: #c1a900;
  color: white;
}

.boxe-femmes {
  background-color: #e600a0;
  color: white;
}

.shiny-btn {

}
