@import "header";

h1 {
 font-family: $fontHigh;
}

h3, h4 {
 font-family: $fontLow;
}

fieldset {
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  border-radius: 40px;
  padding: 15px;
}

body {
 background:#fffff;
 background: url(../img/profil/profil.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 background-attachment: fixed;
}

.container{
 margin-top: 10%;
 margin-bottom: 10%;
}

.user-image{
  img {
    width: 20%;
    // height: 50%;
  }
}

.style1 {
  background-color: $red;
}

.tab-pane{
  width: 50em;
}
